[Unit]
Description=Glances Web UI (in Python venv)
After=network.target

[Service]
User=%h
ExecStart=%h/glances-venv/bin/python3 %h/glances-venv/bin/glances -C %h/.config/glances/glances.conf
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
